.button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover {
    background-color: gray;
  }
.dive {
    color: black;
    background-color: rgb(111, 111, 245);
    text-align: center;
    padding: 20px, 20px;
  }
.sticky {
    position: sticky;
    top: 0;
  }
#rounded {
    margin: auto;
    border-radius: 100px;
    border: 2px solid #73AD21;
    padding: 30px;
  }
img {
    margin: auto;
    border-radius: 100px;
    border: 2px solid #73AD21;
    padding: 30px;
  }
embed {
    margin: auto;
    border-radius: 100px;
    border: 2px solid #73AD21;
    padding: 30px;
}
iframe {
    margin: auto;
    border-radius: 100px;
    border: 2px solid #73AD21;
    padding: 20px;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1);
    background-color: rgb(128,128,128);
}
.center {
    text-align: center;
}